.super-mario {
    width: 200px; 
  }
  
  .goomba {
    width: 100px;
    position:absolute;
    left: 50px;
    top: 370px;
  }
  
  .baloon {
    position: absolute;
    left: 300px;
    top: 100px;  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 320px;
    z-index: 1;
    top: 140px;
    
    
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 600px;
    right: 5%;
    top: 250px
  }